<!DOCTYPE html>
<!--[if IEMobile 7 ]><html class="no-js iem7"><![endif]-->
<!--[if lt IE 9]><html class="no-js lte-ie8"><![endif]-->
<!--[if (gt IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>StackStudio</title>
  <% if @meta_description %>
  <meta description="<%=@meta_description%>"/>
  <% end %>
  <% if @meta_author %>
  <meta name="author" content="<%=@meta_author%>">
  <% end %>

  <!-- http://t.co/dKP3o1e -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- link href="/favicon.png" rel="shortcut icon" / -->
  <link href="<%=root%>css/style.css" media="screen, projection" rel="stylesheet" type="text/css">
  <link href="<%=root%>css/browse.css" media="screen, projection" rel="stylesheet" type="text/css">
  <link href="<%=root%>css/jquery-ui-1.8.17.custom.css" media="screen, projection" rel="stylesheet" type="text/css">
  <link href="<%=root%>css/jquery.wijmo-open.2.3.2.css" media="screen, projection" rel="stylesheet" type="text/css">
  <!--Theme-->
  <link href="http://cdn.wijmo.com/themes/rocket/jquery-wijmo.css" rel="stylesheet" type="text/css" title="rocket-jqueryui" />
  <!-- Pre-RequireJS -->
  <!--  
  <script src="<%=root%>js/vendor/modernizr-2.6.2.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js" type="text/javascript"></script>
  <script src="<%=root%>js/vendor/template_support.js" type="text/javascript"></script>
  <script src="<%=root%>js/vendor/form_support.js" type="text/javascript"></script>
  <script src="<%=root%>js/vendor/browse_support.js" type="text/javascript"></script>
  <script src="<%=root%>js/vendor/jquery.wijmo-open.all.2.3.2.min.js" type="text/javascript"></script>
  -->  
  <!-- Codemirror editor support/-->
  <!--
  <script src="<%=root%>js/vendor/codemirror-ui/lib/CodeMirror-2.3/lib/codemirror.js" type="text/javascript"></script>
  <script src="<%=root%>js/vendor/codemirror-ui/lib/CodeMirror-2.3/lib/util/searchcursor.js" type="text/javascript"></script>
  <link rel="stylesheet" href="<%=root%>js/vendor/codemirror-ui/lib/CodeMirror-2.3/lib/codemirror.css">
  <script src="<%=root%>js/vendor/codemirror-ui/lib/CodeMirror-2.3/mode/javascript/javascript.js"></script>
  <link rel="stylesheet" href="<%=root%>js/vendor/codemirror-ui/lib/CodeMirror-2.3/mode/javascript/javascript.css">
  <script src="js/vendor/codemirror-ui/js/codemirror-ui.js" type="text/javascript"></script>
  <link rel="stylesheet" href="js/vendor/codemirror-ui/css/codemirror-ui.css" type="text/css" media="screen" />
  <script src="js/vendor/ace/ace.js" type="text/javascript"></script>
  -->
  <script data-main="js/common" data-ace-base="js/vendor/ace" src="js/vendor/require-2.1.2.js"></script>
  
<style>
    #project_resources
    {
        padding-left: 10px;
    }
    .splitter_container
    {
        height: 1500px;
    }
    
    #hsplitter
    {
        width: 200px;
        height: 1000px;
    }
    
    .new_resources
    {
        height: 500px;
    } 
    
    .new_resources_list
    {
        height: 1000px;
    }
    
    #design_editor
    {
        height: 100%;
        width: 90%;
    }        
    
    .layout
    {
        float: left;
    }
    
    .dialog_panel {
        font-family: Arial, Sans-serif, sans;
        text-align: left;
        background-color: #D9D3C7;
    }
    
    .horizlist li
    {
        display: inline;
        list-style-type: none;
        padding-right: 20px;
    }
    
    .hover_panel {
        text-decoration: none;
        background-color: #E6E2DF;
        background-image: url(http://i.imgur.com/aolSq.png);
        background-position: 292px 10px;
        background-repeat: no-repeat;
        color: #B2AAA4;
        display: block;
        float: left;
        height: 130px;
        width: 262px;
        margin: 0 10px 10px 0;
        padding: 15px;
         -moz-transition: all 0.2s ease; /* FF3.7+ */
           -o-transition: all 0.2s ease; /* Opera 10.5 */
      -webkit-transition: all 0.2s ease; /* Saf3.2+, Chrome */
              transition: all 0.2s ease;
    }
    
    .hover-panel h3 {
        font-family: tandelle-1, tandelle-2, Impact, Sans-serif, sans;
        font-size: 38px;
        line-height: 1;
        margin: 0 0 10px;
        text-transform: uppercase;
    }
    
    .hover-panel p {
        font-size: 12px;
        width: 65%;
    }
    
    .hover_panel:hover {
        background-color: #237ABE;
        background-position: 180px 10px;
    }
    
    .hover_panel:hover h3 {
        color: #FFF;
        text-shadow: rgba(0, 0, 0, 0.398438) 0px 0px 4px;
    }
    
    .hover_panel:hover p {
        color: #FFF:
    }    
</style>  
  
  
</head>

<body>
  <header>
    <hgroup>
      <h1>&nbsp;</h1>
    </hgroup>
  </header>

  <%= erb :nav%>

    <div id="main">
      <div id="projmenu" class="left_bar">
		<%= erb :"project/list"%>
      </div>
      <div id="resource_menu" class="left_bar splitter_container">
		<%= erb :"project/resource_list"%>
      </div>

      <div id="content">
          
      <!-- New Project Dialog -->
      <div id="new_project" title="New Project" style="width: 500px">
            <%= erb :"project/new_project_dialog"%>
      </div>
          
      <!-- Project Details Panel-->    
      <div id="projectslide1">
		<div class="intro" style="font-size: 1.2em; margin-top: 20px">

	  	<h2>Select a project</h2>
	  
		</div>
      </div>
      
      <!-- Project Edit Panel-->
      <div id="projectslide2" style="height: 100%">
      	<div style="margin-top: 20px">
      		<button class="projback">Back</button>
      		<button class="projedit">Edit</button>
      		<button>Delete</button>
  		</div>
		<div class="intro" style="font-size: 1.2em; margin-top: 20px">
		  	<h2><span class="projectname"></span></h2>
		  	<div id="projectdetails">
		  		<span class="projectname"></span> details will go here...
		  	</div>
			<div id="tabs" style="height: 1000px">
			    <ul>
			        <li><a href="#tabs-design">Design</a></li>
			        <li><a href="#tabs-runtime">Runtime</a></li>
			    </ul>
			    <div style="height: 4000px" id="tabs-design">
			    	<%= erb :"project/design_tab"%>
			    </div>
			    <div style="height: 1000px"  id="tabs-runtime">
			        <%= erb :"project/runtime_tab"%>
			    </div>
			</div>	  
		</div>
      </div>
    </div>

</body>

<script>
    var editor = {};
    require(['./common'], function(common) {
       console.log("We now have 'common' functionality.");
       require([
           'jquery',
           'ace',
           'wijmo',
           'jquery-ui'
          ], function( $, ace ) {
                  editor = ace.edit("design_editor");        
                  //Set custom 'accordion' action that allows
                  //multiple panels to be open
                  $(".accordion").wijaccordion({
                    header: "h3",
                    requireOpenedPane: false
                  });
                  //Set jQueryUI button style
                  $('button').button();
                  //Set jQueryUI tabs style
                  $('#tabs').tabs();
                  //Set newProject dialog box
                  $('#new_project').wijdialog({
                    autoOpen: false,
                    captionButtons: {
                        refresh: {visible: false},
                        pin: {visible: false},
                        toggle: {visible: false},
                        minimize: {visible: false},
                        maximize: {visible: false}
                    },
                    minWidth: 400,
                    modal: true
                  });
                  //Set horizontal splitter
                  $("#hsplitter").wijsplitter({
                       orientation: "horizontal",
                       resizeSettings: {ghost: false},
                       splitterDistance: 150, 
                       panel1: {
                            minSize:150, 
                            collapsed:false, 
                            scrollBars:"auto"
                       },
                       panel2: {
                            minSize:200, 
                            scrollBars:"auto"
                       }
                       
                  });  
                  
                  //New project create click handler
                  $('.hover_panel').click(function() {
                    $( "#new_project" ).wijdialog( "close" );
                    $("#project2").show();
                    $("div#my_projects").click();
                    $("a#new_project_link").click();
                    $(".projedit").click();
                    $("a#instance_link").click();
                    $("a#db_link").click();
                  });
                  
                  //Project link click handler
                  $('.projlink').click(function() {
                    $('.projectname').html($(this).attr('name'))
                    $('div#projectslide2').show();
                    $('div#projectslide1').hide();
                  });
                  
                  //Project link click handler
                  $('.newprojlink').click(function() {
                    $( "#new_project" ).wijdialog( "open" );
                  });     
                  
                  //Resource link (add) handler
                  $('.resource_link').click(function() {
                    var content = editor.getValue();
                    if(content.replace(/\s/g,"") != '')
                    {
                        content = jQuery.parseJSON(content);
                    }else{
                        content = {};
                    }
                    if(content.Resources == null)
                    {
                        content.Resources = {};
                    }       
                    if (($(this)).attr('name') == "NewComputeInstance")
                    {
                        var newInstProps = {
                            Type:"AWS::EC2::Instance",
                            Properties:{
                                ImageId: "DEFINE_ID",
                                InstanceType: "m1.small",
                                KeyName: "DEFINE_KEYNAME"
                            }
                        };
                        
                        if(content.Resources.NewInstance == null)
                        {
                            content.Resources.NewInstance = newInstProps;
                            //Pass the new item to the wijlist widget
                            resource_list.wijlist("addItem", {label: "NewInstance", value: "NewInstance"});
                        }else{
                            content.Resources.NewInstance2 = newInstProps;
                            //Pass the new item to the wijlist widget
                            resource_list.wijlist("addItem", {label: "NewInstance2", value: "NewInstance2"});
                        }
                    }else{
                        var newDBProps = {
                            Type:"AWS::RDS::DBInstance",
                            Properties:{
                                "AllocatedStorage": "5",
                                "DBInstanceClass": "db.m1.small",
                                "Engine": "MySQL",
                                "EngineVersion": "5.5",
                                "MasterUsername": "DB_USERNAME",
                                "MasterUserPassword": "DB_PASSWORD"
                            }
                        };
                        
                        if(content.Resources.NewDB == null)
                        {
                            content.Resources.NewDB = newDBProps;
                            //Pass the new item to the wijlist widget
                            resource_list.wijlist("addItem", {label: "NewDB", value: "NewDB"});                
                        }else{
                            content.Resources.NewDB2 = newDBProps;
                            //Pass the new item to the wijlist widget
                            resource_list.wijlist("addItem", {label: "NewDB2", value: "NewDB2"});                
                        }
                    }
                    
                    //Render the list in the client browser
                    //resource_list.wijlist("option","autoSize",false);
                    resource_list.wijlist('renderList');
                    //Set editor value   
                    editor.setValue(JSON.stringify(content, null,'\t'));
                  });     
                  
                  //Edit project click handler
                  $('.projedit').click(function() {
                    $('div#projmenu').hide('slow');
                    $('div#resource_menu').show('slow');
                    $('.projback').show();
                    $('.projedit').hide();
                    $('#tabs').show();
                    $('#projectdetails').hide();
                    editor.setTheme("ace/theme/twilight");
                    editor.getSession().setMode("ace/mode/json");       
                  });
                  
                  //Back button click handler
                  $('.projback').click(function() {
                    $('div#projmenu').show('slow');
                    $('div#resource_menu').hide('slow');
                    $('.projback').hide();
                    $('.projedit').show();
                    $('#tabs').hide();
                    $('#projectdetails').show();
                  });
                  
                  /*
                  //Setup codemirror editor in order to reference later
                  //first set up some variables
                  var textarea = document.getElementById('design_editor');
                  var uiOptions = { path : 'js/vendor/codemirror-ui/js/', searchMode : 'inline' }
                  var codeMirrorOptions = { 
                      mode: {name: "javascript", json: true},
                      lineNumbers: true 
                  };
                    
                  //then create the editor
                  editor = new CodeMirrorUI(textarea,uiOptions,codeMirrorOptions);
                  editor.textarea.value = "";
                  */
                 
                  //Setup resource list in order to reference later
                  $("#resource_list").wijlist({
                      autoSize: true
                  });     
                  var resource_list = $("#resource_list");    
                
                  //Hide some components to begin with
                  $('div#projectslide2').hide();
                  $('.projback').hide();
                  $('div#resource_menu').hide();
                  $('#tabs').hide();
                  $('#project2').hide();
                  $('#project_instance').hide();
                  $('#project_database').hide();               
          }); 
    });
</script>
</html>
